body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

h1 {
    margin: 0;
}

section {
    margin: 40px auto;
    width: 80%;
    max-width: 800px;
}

#products {
    display: flex;
    justify-content: space-around;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    width: 45%;
}

.product img {
    width: 100px;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.infoBox {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* ABOUT SECTION */

/* Center the image and text */
.content {
    text-align: center;
    margin: 0 auto;
    max-width: 800px; /* Set a max-width for the content */
}

/* Ensure the image is centered */
img {
    display: block;
    margin: 20px auto; /* Center image horizontally */
    max-width: 100%;   /* Make image responsive */
    height: auto;
}

/* Optional: Style for the return link */
.back-link {
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}